NODE-RED/RS-B665_flows.json
[{"id":"53135029.23cd1","type":"tab","label":"Tape Deck Control","disabled":false,"info":"Controlling a Technics RS-B665 tape deck via RPi/GPIO + relays/resistor tree"},{"id":"d49c4b8.db87f38","type":"ui_button","z":"53135029.23cd1","name":"","group":"5cc3a24d.1b5df4","order":3,"width":0,"height":0,"passthru":false,"label":"stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"flow","topic":"","x":90,"y":100,"wires":[["40da3477.155e6c"]]},{"id":"40da3477.155e6c","type":"exec","z":"53135029.23cd1","command":"/usr/bin/python3 /home/pi/RS-B665_control/STOP.py ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":440,"y":100,"wires":[[],[],[]]},{"id":"2e4bb103.45d7d6","type":"ui_text","z":"53135029.23cd1","group":"5cc3a24d.1b5df4","order":1,"width":0,"height":0,"name":"","label":"Technics RS-B665 Remote Control","format":"{{msg.payload}}","layout":"row-center","x":170,"y":40,"wires":[]},{"id":"b373532f.c9f2b8","type":"ui_button","z":"53135029.23cd1","name":"","group":"5cc3a24d.1b5df4","order":4,"width":0,"height":0,"passthru":false,"label":"play","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":160,"wires":[["8e42957c.5babc"]]},{"id":"8e42957c.5babc","type":"exec","z":"53135029.23cd1","command":"/usr/bin/python3 /home/pi/RS-B665_control/PLAY.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":430,"y":160,"wires":[[],[],[]]},{"id":"a2afae62.3e196","type":"exec","z":"53135029.23cd1","command":"/usr/bin/python3 /home/pi/RS-B665_control/FF.py ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":430,"y":220,"wires":[[],[],[]]},{"id":"8b228f03.63828","type":"exec","z":"53135029.23cd1","command":"/usr/bin/python3 /home/pi/RS-B665_control/REW.py ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":430,"y":280,"wires":[[],[],[]]},{"id":"40fafc79.a63184","type":"ui_button","z":"53135029.23cd1","name":"","group":"5cc3a24d.1b5df4","order":5,"width":0,"height":0,"passthru":false,"label":"ff","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":220,"wires":[["a2afae62.3e196"]]},{"id":"8457c54b.bda848","type":"ui_button","z":"53135029.23cd1","name":"","group":"5cc3a24d.1b5df4","order":2,"width":0,"height":0,"passthru":false,"label":"rew","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":280,"wires":[["8b228f03.63828"]]},{"id":"73b5f5d9.554014","type":"ui_text","z":"53135029.23cd1","group":"5cc3a24d.1b5df4","order":9,"width":0,"height":0,"name":"","label":"@zedstarr :: cxf@zedstarr.net","format":"{{msg.payload}}","layout":"row-center","x":170,"y":520,"wires":[]},{"id":"a8cba200.41c638","type":"ui_button","z":"53135029.23cd1","name":"","group":"5cc3a24d.1b5df4","order":6,"width":0,"height":0,"passthru":false,"label":" ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":340,"wires":[[]]},{"id":"4569f486.3f6d04","type":"ui_button","z":"53135029.23cd1","name":"","group":"5cc3a24d.1b5df4","order":7,"width":0,"height":0,"passthru":false,"label":"power on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":400,"wires":[["509f93d.46d23ec"]]},{"id":"509f93d.46d23ec","type":"exec","z":"53135029.23cd1","command":"/usr/bin/curl -s -X POST https://maker.ifttt.com/trigger/tape-deck-on/with/key/2BDqsFDADbV0qOEGr1nDrX","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":600,"y":400,"wires":[[],[],[]]},{"id":"60ea84b.770507c","type":"exec","z":"53135029.23cd1","command":"/usr/bin/curl -s -X POST https://maker.ifttt.com/trigger/tape-deck-off/with/key/2BDqsFDADbV0qOEGr1nDrX","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":600,"y":460,"wires":[[],[],[]]},{"id":"187e6fe6.6b4e28","type":"ui_button","z":"53135029.23cd1","name":"","group":"5cc3a24d.1b5df4","order":8,"width":0,"height":0,"passthru":false,"label":"power off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":460,"wires":[["60ea84b.770507c"]]},{"id":"664f60a9.f789f","type":"inject","z":"53135029.23cd1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"flow","x":420,"y":40,"wires":[["40da3477.155e6c"]]},{"id":"5cc3a24d.1b5df4","type":"ui_group","name":"Control","tab":"51b383c0.14ab3c","order":1,"disp":false,"width":"6","collapse":false},{"id":"51b383c0.14ab3c","type":"ui_tab","name":"Audio","icon":"dashboard","disabled":false,"hidden":false}]
